<script src="/static/js/bigbang.js"></script>

<div class="footer">
            <div class="pull-right">
                <button class="btn btn-default gme hidden" onclick="bigBangrnd('piedra');" ><i class="fa fa-hand-rock-o"></i></button>
                <button class="btn btn-default gme hidden" onclick="bigBangrnd('papel');" ><i class="fa fa-hand-paper-o"></i></button>
                <button class="btn btn-default gme hidden" onclick="bigBangrnd('tijeras');" ><i class="fa fa-hand-scissors-o"></i></button>
                <button class="btn btn-default gme hidden" onclick="bigBangrnd('lagarto');" ><i class="fa fa-hand-lizard-o"></i></button>
                <button class="btn btn-default gme hidden" onclick="bigBangrnd('spock');" ><i class="fa fa-hand-spock-o"></i></button>
                <i class="fa fa-optin-monster" id="iagame" onclick="showtime();return false;"></i>
                 <a class="btn btn-outline btn-default" href="mailto:leosamu@upv.es?Subject=Error%20en%20TK2.0" target="_top" id="mailto">
                    @leosamu
                 </a>
            </div>
            <div>
                <strong>Copyright </strong>Universidad Politécnica de Valencia © 2014-2015
            </div>
        </div>