<div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <h1>
                            <img src="/static/img/logoxnf.svg" height="32"> TOOLS
                        </h1>
                        <small>
                        <p>
                            Necesitas estar autorizado para emplear estas herramientas.
                        </p>
                        </small>
                    </div>
                </div>
            </div>
</div>